Repository DataDog/trace-examples, pull requests merged in 2018-11, with the labels that each got.

#45 Updated loofah dependency for Ruby
  ruby/dalli/Gemfile.lock
  ruby/mongoid/Gemfile.lock
  ruby/rails/Gemfile.lock
Labels: ruby

#39 Add kombu
  python/kombu/.gitignore
  python/kombu/Pipfile
  python/kombu/Pipfile.lock
  python/kombu/README.md
  python/kombu/consume.py
  python/kombu/consumer.py
  python/kombu/docker-compose.yml
  python/kombu/producer.py
Labels: WIP, python

#47 [python/aiopg] Add very basic example
  python/aiopg/README.md
  python/aiopg/aiopg_example.py
  python/aiopg/docker-compose.yml
  python/aiopg/requirements.txt
Labels: python

#50 [python/pylibmc] add very basic example
  python/pylibmc/README.md
  python/pylibmc/docker-compose.yml
  python/pylibmc/pylibmc_example.py
  python/pylibmc/requirements.txt
Labels: python

#49 [python/bottle] add very basic example
  python/bottle/README.md
  python/bottle/bottle_example.py
  python/bottle/requirements.txt
Labels: python
