Repository DataDog/trace-examples, pull requests merged in 2018-10, with the labels that each got.

#34 [python] Add pymemcache examples
  python/pymemcache/.gitignore
  python/pymemcache/README.md
  python/pymemcache/docker-compose.yml
  python/pymemcache/requirements.txt
  python/pymemcache/simple_manual.py
Labels: WIP, python

#38 [grpc] Add sample app for grpc
  python/grpc/README.md
  python/grpc/demo_grpc.py
  python/grpc/hello.proto
  python/grpc/hello_pb2.py
  python/grpc/hello_pb2_grpc.py
  python/grpc/requirements.txt
  python/grpc/server_grpc.py
Labels: new example, python

#41 [grpc] Fix required dependencies
  python/grpc/requirements.txt
Labels: bug, python

#42 [python] Add pyramid sample app
  python/pyramid/.gitignore
  python/pyramid/README.md
  python/pyramid/requirements.txt
  python/pyramid/schema.sql
  python/pyramid/static/style.css
  python/pyramid/tasks.py
  python/pyramid/templates/layout.mako
  python/pyramid/templates/list.mako
  python/pyramid/templates/new.mako
  python/pyramid/templates/notfound.mako
Labels: python

#40 [flask] rewrite flask example app
  python/flask/.gitignore
  python/flask/LICENSE
  python/flask/Pipfile
  python/flask/Pipfile.lock
  python/flask/README
  python/flask/README.md
  python/flask/Rakefile
  python/flask/app/__init__.py
  python/flask/app/app.py
  python/flask/app/blueprint.py
  python/flask/app/config.py
  python/flask/app/exceptions.py
  python/flask/app/limiter.py
  python/flask/app/signals.py
  python/flask/app/static/bulma.min.css
  python/flask/app/static/test.txt
  python/flask/app/templates/index.jinja2
  python/flask/app/templates/layout.jinja2
  python/flask/config.py
  python/flask/flaskr.py
  python/flask/requirements.txt
  python/flask/run.py
  python/flask/schema.sql
  python/flask/static/style.css
  python/flask/templates/layout.html
  python/flask/templates/login.html
  python/flask/templates/show_entries.html
  python/flask/test_flaskr.py
Labels: enhancement, python

#44 Update service name in README
  python/README.md
Labels: docs, python
